<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- test4j Perspective -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective name="test4j" icon="icons/database_icon.gif"
			class="org.test4j.plugin.Perspective" id="org.test4j.plugin.ui.Perspective">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page class="org.test4j.plugin.Test4JPreferencePage" id="org.test4j.plugin.ui.Test4JPreferencePage"
			name="Test4J">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.test4j.plugin.Test4JPreferenceInitializer"></initializer>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<category id="org.test4j.plugin.commands" name="Test4J"
			description="to save the debug expressions as xml data." />
		<command id="org.test4j.plugin.savexp.ui.SaveExpressionHandler"
			defaultHandler="org.test4j.plugin.savexp.ui.SaveExpressionHandler"
			name="SaveExpression" categoryId="org.test4j.plugin.commands"
			description="to save the debug expressions as xml data.">
		</command>
		<command id="org.test4j.plugin.database.handler.OpenViewHandler.OpenSqlEditorHandler"
			defaultHandler="org.test4j.plugin.database.handler.OpenSqlEditorHandler"
			name="New &amp;SQL Editor" categoryId="org.test4j.plugin.commands"
			description="to open a new SQL editor view.">
		</command>
		<command id="org.test4j.plugin.database.handler.ExecuteSqlHandler"
			defaultHandler="org.test4j.plugin.database.handler.ExecuteSqlHandler" name="Execute &amp;SQL"
			categoryId="org.test4j.plugin.commands" description="to execute a sql statement.">
		</command>
		<command id="org.test4j.plugin.database.handler.OpenDatabaseViewHandler"
			defaultHandler="org.test4j.plugin.database.handler.OpenViewHandler$OpenDatabaseViewHandler"
			name="open database view" categoryId="org.test4j.plugin.commands"
			description="to open a database connection view.">
		</command>
		<command id="org.test4j.plugin.database.handler.OpenResultViewHandler"
			defaultHandler="org.test4j.plugin.database.handler.OpenViewHandler$OpenResultViewHandler"
			name="Open ResultView" categoryId="org.test4j.plugin.commands" description="to open a database result view.">
		</command>
		<command id="org.test4j.plugin.handler.OpenMessageViewHandler"
			defaultHandler="org.test4j.plugin.database.handler.OpenViewHandler$OpenMessageViewHandler"
			name="Open MessageView" categoryId="org.test4j.plugin.commands"
			description="to open a dababase message view.">
		</command>
		<command id="org.test4j.plugin.handler.ClearMessageHandler"
			defaultHandler="org.test4j.plugin.handler.ClearMessageHandler" name="Clear MessageView"
			categoryId="org.test4j.plugin.commands" description="to clean message view.">
		</command>

		<command id="org.test4j.plugin.definemock.handler.DefineMockMethodHandler" defaultHandler="org.test4j.plugin.definemock.handler.DefineMockMethodHandler"
			name="Define Mock Method" categoryId="org.test4j.plugin.commands"
			description="to generate Mockit.MockUP method.">
		</command>
		<command id="testsequence.open.handler" description="to open runned sequence of test method."
			defaultHandler="org.test4j.plugin.testsequence.handler.TestSequenceOpenHandler"
			name="Open Test Sequence" categoryId="org.test4j.plugin.commands">
		</command>
		<command id="testsequence.compare.handler" description="to compare two sequence of test method."
			defaultHandler="org.test4j.plugin.testsequence.handler.TestSequenceCompareHandler"
			name="Compare Test Sequence" categoryId="org.test4j.plugin.commands">
		</command>
		
		<command id="org.test4j.plugin.jspec.handler.MarkCollapsedHandler" description="collapse folder."
			defaultHandler="org.test4j.plugin.jspec.handler.MarkCollapsedHandler"
			name="collapse folder" categoryId="org.test4j.plugin.commands">
		</command>
		<command id="org.test4j.plugin.jspec.handler.MarkExpandedHandler" description="expanded folder."
			defaultHandler="org.test4j.plugin.jspec.handler.MarkExpandedHandler"
			name="expanded folder" categoryId="org.test4j.plugin.commands">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.debug.ui.ExpressionView?after=additions">
			<command commandId="org.test4j.plugin.savexp.ui.SaveExpressionHandler"
				icon="icons/save.gif" />
		</menuContribution>
		<menuContribution
			locationURI="popup:org.eclipse.debug.ui.VariableView?after=additions">
			<command commandId="org.test4j.plugin.savexp.ui.SaveExpressionHandler"
				icon="icons/save.gif" />
		</menuContribution>

		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu id="org.test4j.plugin.main.menu" label="Test4J">
				<command commandId="org.test4j.plugin.database.handler.OpenViewHandler.OpenSqlEditorHandler"
					label="Open New Sql Editor" icon="icons/sqleditor.gif" />
				<separator name="separator1" visible="true" />
				<command commandId="org.test4j.plugin.database.handler.ExecuteSqlHandler"
					label="Run Sql" icon="icons/execute_icon.gif" />
				<separator name="separator2" visible="true" />
				<command commandId="org.test4j.plugin.database.handler.OpenDatabaseViewHandler"
					label="Open Database View" icon="icons/connected_icon.gif" />
				<command commandId="org.test4j.plugin.database.handler.OpenResultViewHandler"
					label="Open Result View" icon="icons/table_icon.gif" />
				<command commandId="org.test4j.plugin.handler.OpenMessageViewHandler"
					label="Open Message View" icon="icons/view_icon.gif" />
			</menu>
		</menuContribution>

		<menuContribution
			locationURI="popup:org.test4j.plugin.database.ui.MessageView?before=edit">
			<command commandId="org.test4j.plugin.handler.ClearMessageHandler"
				label="clean messages" style="push" />
		</menuContribution>
		<menuContribution
			locationURI="toolbar:org.test4j.plugin.database.ui.MessageView?before=edit">
			<command commandId="org.test4j.plugin.handler.ClearMessageHandler"
				icon="icons/remove_icon.gif" />
		</menuContribution>
		<menuContribution
			locationURI="popup:#org.test4j.plugin.database.ui.SQLEditor?before=edit">
			<command commandId="org.test4j.plugin.database.handler.ExecuteSqlHandler"
				label="Run SQL" icon="icons/execute_icon.gif" />
		</menuContribution>
		<menuContribution
			locationURI="popup:#org.test4j.plugin.jspec.ui.JSpecEditor?before=jspec">
			<command commandId="org.test4j.plugin.jspec.handler.MarkCollapsedHandler"
				label="%folder.collapse" icon="icons/folder_collapse.png" />
		</menuContribution>
		<menuContribution
			locationURI="popup:#org.test4j.plugin.jspec.ui.JSpecEditor?before=jspec">
			<command commandId="org.test4j.plugin.jspec.handler.MarkExpandedHandler"
				label="%folder.expanded" icon="icons/folder_expanded.png" />
		</menuContribution>
		
		<menuContribution locationURI="popup:#CompilationUnitEditorContext?after=additions">
			<menu id="org.test4j.plugin.ui.editor.menu" label="Test4J" icon="icons/test_method_info.png">
				<separator name="top" />
				<command commandId="org.test4j.plugin.definemock.handler.DefineMockMethodHandler"
					label="New MockUp Method" icon="icons/mock_method_add.png" />
				<command commandId="testsequence.open.handler" label="Open Test Sequence" icon="icons/test_sequence_open.png" />
				<command commandId="testsequence.compare.handler" label="Compare Test Sequence" icon="icons/test_sequence_compare.png" />
				<separator name="group2" />
			</menu>
		</menuContribution>
	</extension>

	<!--SQL Views -->
	<extension point="org.eclipse.ui.views">
		<category name="Test4J" id="org.test4j.plugin.views" />
		<view id="org.test4j.plugin.database.ui.DatabaseView" class="org.test4j.plugin.database.ui.DatabaseView"
			name="Connections" category="org.test4j.plugin.views" icon="icons/selected_connected_icon.gif" />
		<view id="org.test4j.plugin.database.ui.DataSetView" class="org.test4j.plugin.database.ui.DataSetView"
			name="Results" category="org.test4j.plugin.views" icon="icons/table_icon.gif" />
		<view id="org.test4j.plugin.database.ui.MessageView" class="org.test4j.plugin.database.ui.MessageView"
			name="Messages" category="org.test4j.plugin.views" icon="icons/column_icon.gif" />
		<view id="org.test4j.plugin.testsequence.ui.CompareBrowser" class="org.test4j.plugin.testsequence.ui.CompareBrowser"
			name="CompareSequence" category="org.test4j.plugin.views" icon="icons/column_icon.gif" />
	</extension>

	<!--SQL Editor -->
	<extension point="org.eclipse.ui.editors">
		<editor id="org.test4j.plugin.database.ui.SQLEditor" class="org.test4j.plugin.database.ui.SQLEditor"
			extensions="sql" name="SQL Editor" default="true" icon="icons/database_icon.gif"
			contributorClass="org.test4j.plugin.database.assistor.SQLEditorContributor">
		</editor>
		<editor id="org.test4j.plugin.jspec.ui.StoryEditor" class="org.test4j.plugin.jspec.ui.JSpecBrowser"
			extensions="story" name="JSpec Editor" icon="icons/story.png"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
		</editor>
		<editor id="org.test4j.plugin.jspec.ui.ScenarioEditor" class="org.test4j.plugin.jspec.ui.JSpecEditor"
			extensions="scenario" name="JSpec Editor" icon="icons/scenario.png"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor">
		</editor>
	</extension>
</plugin>
